<h2 class="text-center mt-3">Manage CRUD</h2>

<div class="row">
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header text-center bg-success">
            <h4>Employee Data</h4>
          </div>
          <div class="card-body">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Sno</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>MobileNo</th>
                  <th>Password</th>
                  <th>City</th>
                  <th>Status</th>
                  <th class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                @for (item of employeeList; track $index) {
                <tr>
                  <td>{{$index + 1}}</td>
                  <td>{{item.empname}}</td>
                  <td>{{item.empemail}}</td>
                  <td>{{item.empmobile}}</td>
                  <td>{{item.emppassword}}</td>
                  <td>{{item.empcity}}</td>
                  <td>{{item.empstatus}}</td>
                  <td>
                    <button type="button" class="btn btn-primary mr-2">Edit</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                  </td>
                  
                </tr>
              }
              </tbody>
            
            </table>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card">
          <div class="card-header text-center bg-success">
            <h4>Add Employee</h4>
          </div>
          <div class="card-body">
            <form [formGroup] ="employeeform">
              <div class="form-group">
                <label>Emp Name</label>
                <input type="text" formControlName="empname" class="form-control" placeholder="Enter your name">
              </div>
              <div class="form-group mt-3">
                <label>Emp Email</label>
                <input type="email" formControlName="empemail" class="form-control"  placeholder="Enter your email">
              </div>
              <div class="form-group mt-3">
                <label>Emp MobileNo</label>
                <input type="text" formControlName="empmobile" class="form-control" placeholder="Enter your mobile">
              </div>
              <div class="form-group mt-3">
                <label>Emp Password</label>
                <input type="password" formControlName="emppassword" class="form-control" placeholder="Enter your password">
              </div>
              <div class="form-group mt-3">
                <label>Emp City</label>
                <input type="text" formControlName="empcity" class="form-control"  placeholder="Enter your City">
              </div>
              <div class="form-group mt-3">
                <label class="d-flex gap-2">Emp Status</label>
                <input class="form-check-input" formControlName="empstatus" type="checkbox" value="" id="defaultCheck1">
              </div>
              <div class="form-group mt-3 d-flex gap-2">
                <button type="button" (click)="SaveData()" class="btn btn-success">Submit</button>

                <button type="button" class="btn btn-danger">Reset</button>
              </div>
              
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  

</div>


